<div style="font-size: 110%;">
  <h3>Welcome to this small and useful Angular 6 application!</h3>
  <br/>
  <p>
    Through deeping into the code of this application, you will get some samples about how to use important elements of Angular 6.
  </p>
  <p>
    Although some of these examples are basic, they offer a good entrypoint to develop others more complex.
  </p>
  <h3>Angular concepts:</h3>
  <br/>
  <ul>
    <li>Routing</li>
    <li>Components</li>
    <li>Reactive Forms</li>
    <li>Reactive Forms Validators</li>
    <li>Services</li>
    <li>HTTP requests by RxJs</li>
    <li>HTTP interceptors</li>
    <li>HTTP Error Handling</li>
    <li>Application Storage</li>
    <li>Actions</li>
    <li>Reducers</li>
    <li>Effects</li>
    <li>Angular Material (table)</li>
  </ul>
  <h3>Other stuff:</h3>
  <br/>
  <ul>
      <li>Docker </li>
      <li>Docker Compose</li>
  </ul>
  <p>
      This Angular application can also be started up by using Docker. Therefore, if needed, you can check that configuration as well.
      To achieve that, take a look at the files <i>docker-compose.yml</i> and <i>Dockerfile</i>.
  </p>
  <button class="btn btn-primary" style="float:right;margin: 0 10% 10% 0;" routerLink="/simulation">Let's go!</button>
<div>
