<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Mock Server</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/simulation">Simulation</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a target="_blank" href="https://github.com/dmunozr/docker-camel-activemq" title="GitHub repository"> 
            <img src="assets/img/github-circle.png">   
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
